
@{
    ViewBag.Title = "New";
}
<div id="containershow" style="border:1px solid; padding:1em;">
    <nav>
        <a class="navlink" href="/Student/List">Back To Students</a>
    </nav>
    <h2>New Student</h2>

    <form name="myform" action="/Student/Create" method="POST">

        <label style="display:block;" for="StudentFname">First Name:</label>
        <input type="text" id="StudentFname" name="StudentFname" />

        <label style="display:block;" for="StudentLname">Last Name:</label>
        <input type="text" id="StudentLname" name="StudentLname" />

        <label style="display:block;" for="StudentNumber">Student Number:</label>
        <input type="text" id="StudentNumber" name="StudentNumber" />

        <label style="display:block;" for="Enroldate">Enrol Date:</label>
        <input type="date" id="Enroldate" name="Enroldate" />

        <input type="submit" value="Add Student" class="addbtn" />
    </form>

</div>
<script>

    window.onload = pageload;

    function pageload() {
        var formhandler = document.forms.myform;
        var fname = formhandler.StudentFname;
        var lname = formhandler.StudentLname;
        var StuN = formhandler.StudentNumber;
        var enrd = formhandler.Enroldate;
   
        formhandler.onsubmit = onprocess;

        function onprocess() {

            if (fname.value === "") {
                fname.style.background = "red";
                fname.focus();
                return false;
            } else {
                fname.style.background = "white";
                console.log(fname);
                fname.blur();
                lname.focus();
            }
            if (lname.value === "") {
                lname.style.background = "red";
                lname.focus();
                return false;
            } else {
                lname.style.background = "white";
                lname.blur();
                empN.focus();
            }
            if (StuN.value === "") {
                StuN.style.background = "red";
                StuN.focus();
                return false;
            } else {
                StuN.style.background = "white";
                StuN.blur();
                enrd.focus();
            }

            if (enrd.value === "") {
                enrd.style.background = "red";
                enrd.focus();
                return false;
            } else {
                enrd.style.background = "white";
                enrd.blur();
                subbtn.focus();
            }
         
        }

    }

</script>

