@model IEnumerable<Schooldb2022.Models.Classes>
@{
    ViewBag.Title = "List";
}

<h2>List of Classes</h2>
<form action="/Class/List" method="GET">
    <input type="text" autocomplete="off" name="SearchKey" placeholder="Course Name.." />
    <input type="submit" value="Search" />
</form>
@foreach (var classes in Model)
{
    <div class="listitem row">
        <div class="col-md-12"><a href="/Class/Show/@classes.ClassId"> @classes.ClassName : @classes.ClassCode</a></div>
    </div>
}


